.template{
			/*width: 275px;
			min-height: 100px;
			height: auto;
			border: 1px solid #59C3A8;
			border-radius: 5px;
			text-align: center;
			float: left;
			margin: 5px;*/


}
.template h3{
			/*text-align: center;*/
}
pre{
			/*width: 200px;
			height: auto;*/

}